<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>

<body>
  <div class="container">
    <!-- Basic info about our website -->
    <h1 id="homeTitle">Welcome to QuickTix!!</h1>
    <p>QuickTix is a ticket exchange website that allows individuals to resell their tickets for 
        events to which they cannot attend. It enables users to view sellers who are offering tickets, purchase tickets 
        of interest, as well as sell their own tickets! Be respectful and enjoy the events!!
    </p>    

    <!-- Displays tickets for events happening soon -->
    <h1 id="homeTitle">Upcoming Events:</h1>
    <% object = upcoming_events %>
    <%- include ('../partials/Cards') %>
      

    <!-- Displays tickets for any events -->
    <h1 id="homeTitle">All tickets:</h1>
    
    <% object = tickets_for_sale %>
    <%- include ('../partials/Cards') %>

    <!-- If the user is logged in display their tickets they have interest in -->
    <!-- As well as any tickets that the user is selling -->
    <% if (logged_in) { %>
      <!-- Interested in -->
      <% object = interested %>
      <% if(object.length > 0){ %>
        <h1  id="homeTitle">Your Saved Tickets:</h1>
        <%- include ('../partials/Cards') %>
      <%}%>
      <!-- Selling -->
      <% object = selling%>
      <% if(object.length > 0){ %>
        <h1 id="homeTitle">Tickets you're selling:</h1>
        <%- include ('../partials/Cards') %>
      <%}%>
    <% } %>

    
  </div>
<%- include ('../partials/footer') %>