<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>
<body>
    <main>
        <div class="modal fade" tabindex="-1" id="event-modal">
            <div class="modal-dialog">
              <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                  <h3 class="modal-title"><b>Register</b></h3>
                  <button type="button" class="btn-close btn text-white" data-bs-dismiss="modal" aria-label="Close">Close</button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" id="event-modal form" action="/register" method="POST" autocomplete="off" novalidate>
                        <div class="mb-3">
                            <label for="email" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="John Doe" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="abcd1234" required>
                            <small id="userHelp" class="form-text text-muted">No special characters. Max 8 characters.</small>
                            <div class="invalid-feedback">
                                Username taken.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Phone Number</label>
                            <input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{10}">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                            <small id="userHelp" class="form-text text-muted">Min 8 characters, must have numbers and at least 1 special character.</small>
                        </div>
                        <div class="mb-3">
                            <label for="passwordConf" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="passwordConf" name="passwordConf" required>
                        </div>
                        <button type="submit" class="btn btn-primary" id="submit_button">Submit</button>
                    </form>
                </div>
              </div>
            </div>
        </div>  

        <script>
            let password_regex = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;
            let password = document.querySelector('#password');
            password.addEventListener('input', e => {
                console.log(password.value);
                if(!password_regex.test(password.value)){
                    password.setCustomValidity('Password must be 8 characters and contain at least 1 number and 1 special character.');  
                } else {
                    password.setCustomValidity('');
                }
            });

            let passwordConf = document.querySelector('#passwordConf');
            passwordConf.addEventListener('input', e => {
                console.log(passwordConf.value);
                if(passwordConf.value != password.value){
                    passwordConf.setCustomValidity('Passwords must match.');  
                } else {
                    passwordConf.setCustomValidity('');
                }
            });

            let name = document.querySelector('#name');
            let name_regex =  /^[A-Za-z\s]*$/;
            name.addEventListener('input', e => {
                console.log(name.value);
                if(!name_regex.test(name.value)){
                    name.setCustomValidity('Name can only contain letters and whitespaces');  
                } else {
                    name.setCustomValidity('');
                }
            });

            let username = document.querySelector('#username');
            let username_regex = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
            let users = '<%- JSON.stringify(users) %>';
            users = JSON.parse(users);
            username.addEventListener('input', e => {
                console.log(username.value);
                console.log(users[0].username);
                users.forEach(user => {
                    if(user.username == username.value){
                        console.log('username taken.');
                        username.setCustomValidity('Username is already taken.');  
                    } else if(username_regex.test(username.value) || username.value.length > 8){
                        username.setCustomValidity('Username too long or username contains special characters');  
                    } else {
                        username.setCustomValidity('');
                    }
                });
            });

            (function (){
                let edit_form = document.querySelector('.needs-validation');

                edit_form.addEventListener('submit', e => {
                    if(!edit_form.checkValidity()){
                        e.preventDefault();
                        e.stopPropagation();
                    }
                    edit_form.classList.add('was-validated')
                }, false);
            })()

            function showRegister(){
                let EVENT_MODAL = new bootstrap.Modal(document.getElementById('event-modal'));
                EVENT_MODAL.show();
            }
        </script>

        <div class="container" style="padding-top: 35px;">
            <h1 id="homeTitle"><b>Login</b></h1>
            <form action="/login" method="POST">
                <div class="form-group mb-3">
                    <label for="username" style="color: white;">Username</label>
                    <input type="username" class="form-control" name="username" id="username" aria-describedby="username" placeholder="Enter a username">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email/username with anyone else.</small>
                </div>
                <div class="form-group mb-3">
                    <label for="password" style="color: white;">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter a valid password">
                </div>
                <div class="row">
                    <div class="col">
                    <p>Don't have an account? <a class="btn btn-outline-secondary" onclick="showRegister()">Register</a></p>
                    </div>
                    <div class="col" style="display: flex; justify-content: flex-end">
                        <button type="submit" class="btn btn-primary" id="submit_button">Login</button>
                    </div>
                </div>
            </form>
        </div>
        <% if (locals.message) { %>
            <div
              class="alert alert-<%- locals.error ? 'danger' : 'success' %>"
              role="alert"
            >
            <%= message %>
            </div>
        <% } %>
    </main>
<!-- </body> -->
<%- include ('../partials/footer') %>
