<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>

<body>
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <h2><%= username%></h2>
                <hr>
                <h4>Name: <%= name%></h4>
                <h4>Phone number: <%= phone%></h4>
                <h4>Email: <%= email%></h4>
            </div>
            <div class="col-8">
                <div class="conatiner" style="width:auto;">
                    <h3>Tickets <%= username%> selling</h5>
                    <div class="container-fluid py-2">
                        <div class="scrolling-wrapper row flex-row flex-nowrap" style="overflow-x: auto;">
                            <% object = selling%>
                            <%- include ('../partials/Cards') %>
                        </div>
                    </div>
                </div>
            
                <h3>Reivews</h5>
                <div class="container">
                    <div class="card-deck">
                        <% object = reviews %>
                        <%console.log(reviews);%>
                        <%- include ('../partials/review')%>
                    </div>
                </div>
            </div>
        </div>
    </div>



<%- include ('../partials/footer') %>