<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2 id="profileText"><%= username%></h2>
                <hr>
                <h4 id="profileText">Name: <%= name%></h4>
                <% if(phone != null){ %>
                    <h4 id="profileText">Phone number: <%= phone%></h4>
                <%}%>
                <h4 id="profileText">Email: <%= email%></h4>
            </div>
            <div class="col-8">
                <div class="conatiner" style="width:auto;">
                    <h3 id="profileText">Tickets <%= username%> selling</h5>
                    <% object = selling%>
                    <%- include ('../partials/Cards') %>
                </div>
            
                <h3 id="profileText">Reivews</h5>
                <div class="container">
                    <div class="card-deck">
                        <% object = reviews %>
                        <%console.log(reviews);%>
                        <%- include ('../partials/review')%>
                    </div>
                </div>
            </div>
        </div>
    </div>



<%- include ('../partials/footer') %>