<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>

<body onload="hideButtons()">
    <%- include ('../partials/new_listing'); %>
    <%- include ('../partials/new_review', {person: person}); %>
    <%- include ('../partials/edit_profile', {person: person}); %>
    <div class="container" style="padding-top: 30px;">
        <div class="row">
            <div class="col-sm">
                <h3 class="profileHeader"><b>Profile details:</b></h5>
                <div class="card text-white bg-dark" style="width: 20rem; border: 2px solid goldenrod;">
                    <img class="card-img-top" src="../../resources/img/user.png" alt="">
                    <div class="card-body text-white bg-dark">
                        <h5 class="card-title"><b><%- name %></b></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-white bg-dark">Username: <%- username %> </li>
                        <li class="list-group-item text-white bg-dark">Email: <%- email %> </li>
                        <li class="list-group-item text-white bg-dark">Phone: <%- phone %> </li>
                    </ul>
                    <div class="card-body">
                        <% if(logged_in){ %>
                            <% if(logged_in.id == person){%>
                                <a class="btn btn-warning" onclick="showAdd()">Add Listing</a>
                                <a class="btn btn-warning" onclick="showEdit()">Edit Profile</a>
                            <%} else {%>
                                <a class="btn btn-warning" onclick="showAddReview()">Add Review</a>
                            <% } %>
                        <%}%>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <% if(logged_in && (logged_in.id == person) &&(interested.length > 0)){ %>
                    <h3 class="profileHeader"><b>Tickets you're interested in</b></h3>
                    <div class="card-columns interestedIn">
                        <% object = interested %>
                        <%- include ('../partials/cards', {interested: interested}) %>
                    </div>
                <% } %>
                <% if(selling.length > 0){ %>
                    <div class="container" style="width:auto;">
                        <h3 class="profileHeader"><b>Tickets <%= username%> is selling</b></h5>
                        <% object = selling%>
                        <div class="card-columns" id="selling">
                            <%- include ('../partials/cards', {interested: interested}) %>
                        </div>
                    </div>
                <% } else { %>
                    <h3 class="profileHeader"><b><%= username %> is not selling anything</b></h3>
                <% } %>

                <% if(reviews.length > 0){ %>
                    <h3 class="profileHeader"><b>Reviews</b></h5>
                    <div class="container">
                        <div class="card-deck">
                            <% object = reviews %>
                            <%- include ('../partials/review', {user: logged_in, profile: person})%>
                        </div>
                    </div>
                <% } else {%>
                    <h3 class="profileHeader"><b><%= username %> has no reviews</b></h3>
                <% } %>
            </div>
        </div>
    </div>


<%- include ('../partials/footer') %>

<script>
    (function showDelete(){
        // get selling, find selling tickets div
        let selling_tickets = '<%- JSON.stringify(selling) %>';
        selling_tickets = JSON.parse(selling_tickets);
        console.log(selling_tickets);
        const selling = document.querySelector('#selling');
        const sel_chil = selling.children;
        let ticket_name;

        // add delete button to every card
        if(selling.hasChildNodes){
            for(let i=0; i < sel_chil.length; i++){
                // create delete button form/element
                const button_row = document.createElement('div');
                button_row.className = 'row buttons';
                button_row.style = 'padding-top: 5px; padding-left: 15px';
                const delete_form = document.createElement('form');
                delete_form.action = '/ticket/delete';
                delete_form.method = 'POST';
                const delete_button = document.createElement('button');
                delete_button.innerHTML = 'Delete Ticket';
                delete_button.type = 'submit';
                delete_button.className = 'btn btn-outline-warning';
                delete_button.id = 'seller';
                delete_button.name = 'ticket_id';

                console.log(sel_chil[i].firstElementChild.firstElementChild.firstElementChild.innerHTML);
                ticket_name = sel_chil[i].firstElementChild.firstElementChild.firstElementChild.innerHTML;
                selling_tickets.forEach(ticket => {
                    if(ticket.name == ticket_name){
                        console.log('matching ticket, adding remove...');
                        delete_button.value = ticket.ticket_id;
                        delete_form.appendChild(delete_button);
                        button_row.appendChild(delete_form);
                        console.log(button_row);
                        sel_chil[i].firstElementChild.appendChild(button_row);
                    }
                });
            }
        }
    })()

    function hideButtons(){
        var element = document.querySelectorAll('.buttons .btn');
        // console.log(element);
        element.forEach(button => {
            if(button.id != 'seller'){
                button.setAttribute("hidden", "");
            }
        });
        element = document.querySelectorAll('.interestedIn .buttons .listing .btn');
        // console.log(element);
        element.forEach(button => {
            button.removeAttribute("hidden");
        })
    }
</script>
