<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>

<body onload="hideButtons()">
    <%- include ('../partials/new_listing'); %>
    <%- include ('../partials/new_review', {person: person}); %>
    <%- include ('../partials/edit_profile'); %>
    <div class="container" style="padding-top: 30px;">
        <div class="row">
            <div class="col-sm">
                <h3 class="profileHeader"><b>Profile details:</b></h5>
                <div class="card text-white bg-dark" style="width: 20rem; border: 2px solid goldenrod;">
                    <img class="card-img-top" src="../../resources/img/user.png" alt="">
                    <div class="card-body text-white bg-dark">
                        <h5 class="card-title"><b><%- name %></b></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-white bg-dark">Username: <%- username %> </li>
                        <li class="list-group-item text-white bg-dark">Email: <%- email %> </li>
                        <li class="list-group-item text-white bg-dark">Phone: <%- phone %> </li>
                    </ul>
                    <div class="card-body">
                        <% if(logged_in){ %>
                            <% if(logged_in.id == person){%>
                                <a class="btn btn-primary" onclick="showAdd()">Add Listing</a>
                                <a class="btn btn-primary" onclick="showEdit()">Edit Profile</a>
                            <%} else {%>
                                <a class="btn btn-primary" onclick="showAddReview()">Add Review</a>
                            <% } %>
                        <%}%>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <% if(logged_in && (logged_in.id == person)){ %>
                    <h3 class="profileHeader"><b>Tickets you're interested in</b></h3>
                    <div class="card-columns interestedIn">
                        <% object = interested %>
                        <%- include ('../partials/cards', {interested: interested}) %>
                    </div>
                <% } %>
                <div class="conatiner" style="width:auto;">
                    <h3 class="profileHeader"><b>Tickets <%= username%> is selling</b></h5>
                    <% object = selling%>
                    <div class="card-columns">
                        <%- include ('../partials/cards', {interested: interested}) %>
                    </div>
                </div>
            
                <h3 class="profileHeader"><b>Reviews</b></h5>
                <div class="container">
                    <div class="card-deck">
                        <% object = reviews %>
                        <%- include ('../partials/review', {user: logged_in, profile: person})%>
                    </div>
                </div>
            </div>
        </div>
    </div>


<%- include ('../partials/footer') %>

<script>
    function hideButtons(){
        var element = document.querySelectorAll('.buttons .btn');
        // console.log(element);
        element.forEach(button => {
            button.setAttribute("hidden", "");
        });
        element = document.querySelectorAll('.interestedIn .buttons .listing .btn');
        console.log(element);
        element.forEach(button => {
            button.removeAttribute("hidden");
        })
        
    }
</script>
