<%- include ('../partials/header') %> 
<%- include ('../partials/navbar') %> 

<div class="container p-1 pt-5" id="search_container">
  <h2><b>Search Anything</b></h2>
  <!-- <form action="/search" method="GET"> -->
    <div class="input-group mb-3">
      <input type="text" class="form-control" id="search" aria-label="search">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" id="filterBy">Filter by</button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" id="event">Event Type</a></li>
        <li><a class="dropdown-item" id="location">Location</a></li>
        <li><a class="dropdown-item" id="date">Date</a></li>
        <li><hr class="dropdown-divider"></li>
        <li>
          <span class="dropdown-item-text">Price Range</span>
          <div class="p-2">
            <span class="dropdown-item-text" id="min">Min: </span>
            <input type="range" class="form-range" min="0" max="500" step="0.5" id="minPrice">
          </div>
          <div class="p-2">
            <span class="dropdown-item-text" id="max">Max: </span>
            <input type="range" class="form-range" min="0" max="500" step="0.5" id="maxPrice">
          </div>
        </li>
      </ul>
    </div>  
    <% search_results.forEach(ticket => { %>
      <div class="card mb-3" id="ticket" hidden>
        <div class="card-body">
          <h5 class="card-title" id="ticket_name"><b><%- ticket.name %> </b></h5>
          <p class="card-subtitle mb-2 text-muted" id="ticket_event"><%- ticket.event_type %> </p>
          <p class="card-text text-reset" id="ticket_location"><%- ticket.location %> </p>
          <p class="card-text text-success" id="ticket_price">$<%- ticket.price %> </p>
        </div>
      </div>
    <% }); %>  
  <!-- </form> -->

  <script type="text/javascript">
    // get search input
    const input = document.querySelector('#search');
    const container = document.querySelector('#search_container');
    const search_result = document.createElement('h1');
    const tickets = document.querySelectorAll('#ticket');

    // price filter
    const maxPrice = document.querySelector('#maxPrice');
    const minPrice = document.querySelector('#minPrice');
    minPrice.addEventListener('input', e => {
      const min = document.querySelector('#min').innerHTML = 'Min: ' + minPrice.value;
    });
    maxPrice.addEventListener('input', e => {
      const max = document.querySelector('#max').innerHTML = 'Max: ' + maxPrice.value;
    });

    // filters
    const eventFilter = document.querySelector('#event');
    const locationFilter = document.querySelector('#location');
    const dateFilter = document.querySelector('#date');
    // const filterSelect = document.querySelectorAll('#filterSelect');
    let filter;
    const filterBy = document.querySelector('#filterBy');
    eventFilter.addEventListener('click', e => {
      filter = eventFilter.innerHTML;
      filterBy.innerHTML = 'Filter by: ' + eventFilter.innerHTML;
    });
    locationFilter.addEventListener('click', e => {
      filter = locationFilter.innerHTML;
      filterBy.innerHTML = 'Filter by: ' + locationFilter.innerHTML;
    });
    dateFilter.addEventListener('click', e => {
      filter = dateFilter.innerHTML;
      filterBy.innerHTML = 'Filter by: ' + dateFilter.innerHTML;
    });
    
    // implement search
    input.addEventListener('input', event => {
      // console.log(input.value);
      // console.log(filter);
      tickets.forEach(ticket => {
        let ticket_html = ticket.innerHTML.toLowerCase();
        // console.log(ticket.children[0].children[0]);
        if(filter){
          switch(filter){
            case 'Event Type': 
              ticket_html = ticket.children[0].children[1].innerHTML.toLowerCase();
              break;
            case 'Location':
              ticket_html = ticket.children[0].children[2].innerHTML.toLowerCase();
              break;
            case 'Date': 
              ticket_html = ticket.children[0].children[3].innerHTML.toLowerCase();
              break;
          }
        }
        console.log(filter);
        console.log(ticket_html);

        let input_value = input.value.toLowerCase();
        // let input_value = input.value.toLowerCase().split(" ");
        if(ticket_html.match(input_value)){
        // if(input_value.some(v => ticket_html.match(v))){
          ticket.hidden = false;
        } else {
          ticket.hidden = true;
        }
      })
    });
  </script>
</div>

<%- include ('../partials/footer') %>   