<%- include ('../partials/header') %> 
<%- include ('../partials/navbar') %> 

<div class="container p-1 pt-5" id="search_container">
  <h2 class="text"  id="homeTitle"><b>Search Anything</b></h2>
  <!-- <form> -->
    <div class="input-group mb-3">
      <input type="text" class="form-control" id="search" aria-label="search">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" id="filterBy">Search by: </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" id="none">--</a></li>
        <li><a class="dropdown-item" id="event">Event Type</a></li>
        <li><a class="dropdown-item" id="location">Location</a></li>
        <li><a class="dropdown-item" id="date">Date</a></li>

        <li><hr class="dropdown-divider"></li>
        <li>
          <span class="dropdown-item-text">Price Range</span>
          <div class="input-group w-75 px-3">
            <span class="input-group-text">Min:</span>
            <input type="number" id="minPrice" class="form-control">
          </div>
          <div class="input-group w-75 px-3">
            <span class="input-group-text">Max:</span>
            <input type="number" id="maxPrice" class="form-control">
          </div>
        </li>
      </ul>
    </div>  
    <div class="card-columns">
      <% search_results.forEach(ticket => { %>
        <div class="card mb-3 text-white bg-dark" style="border: 2px solid goldenrod;" id="ticket" hidden>
          <div class="card-body">
            <h5 class="card-title" id="ticket_name"><b><%- ticket.name %> </b></h5>
            <p class="card-subtitle mb-2 text-muted" id="ticket_event"><%- ticket.event_type %> </p>
            <p class="card-text text-reset" id="ticket_location"><%- ticket.location %> </p>
            <% var dateString = ticket.date; %>
            <% dateString = new Date(dateString).toUTCString(); %>
            <% dateString = dateString.split(' ').slice(0, 4).join(' '); %>
            <p class="card-text text-reset" id="ticket_date"><%- dateString %> </p>
            <p class="card-text text-success" id="ticket_price">$<%- ticket.price %> </p>
            <% if (logged_in) { %>
              <form action="/interested/add" method="post">
                <button type="submit" class="btn btn-warning text-white" value="<%= ticket.ticket_id %>" name="ticket_id">I'm interested</button>
              </form>
            <% } %>
          </div>
        </div>
      <% }); %>  
    </div>
  <!-- </form> -->

  <script type="text/javascript">
    // get search input
    const input = document.querySelector('#search');
    const container = document.querySelector('#search_container');
    const search_result = document.createElement('h1');
    const tickets = document.querySelectorAll('#ticket');

    // price filter
    let min;
    let max;
    const maxPrice = document.querySelector('#maxPrice');
    const minPrice = document.querySelector('#minPrice');
    minPrice.addEventListener('input', e => {
      if(typeof(parseFloat(minPrice.value)) == 'number'){
        min = minPrice.value;
      } else {
        min = undefined;
      }
      // console.log(min);
    });
    maxPrice.addEventListener('input', e => {
      if(typeof(parseFloat(maxPrice.value)) == 'number'){
        max = maxPrice.value;
      } else {
        max = undefined;
      }
      // console.log(max);
    });

    // filters
    const noneFilter = document.querySelector('#none');
    const eventFilter = document.querySelector('#event');
    const locationFilter = document.querySelector('#location');
    const dateFilter = document.querySelector('#date');
    let filter;
    const filterBy = document.querySelector('#filterBy');
    eventFilter.addEventListener('click', e => {
      filter = eventFilter.innerHTML;
      filterBy.innerHTML = 'Search by: ' + eventFilter.innerHTML;
    });
    locationFilter.addEventListener('click', e => {
      filter = locationFilter.innerHTML;
      filterBy.innerHTML = 'Search by: ' + locationFilter.innerHTML;
    });
    dateFilter.addEventListener('click', e => {
      filter = dateFilter.innerHTML;
      filterBy.innerHTML = 'Search by: ' + dateFilter.innerHTML;
    });
    noneFilter.addEventListener('click', e => {
      filter = undefined;
      filterBy.innerHTML = 'Search by: ';
    });
    
    // implement search
    input.addEventListener('input', event => {
      tickets.forEach(ticket => {
        let ticket_html = ticket.innerHTML.toLowerCase();

        if(filter){
          switch(filter){
            case 'Event Type': 
              ticket_html = ticket.children[0].children[1].innerHTML.toLowerCase();
              break;
            case 'Location':
              ticket_html = ticket.children[0].children[2].innerHTML.toLowerCase();
              break;
            case 'Date': 
              ticket_html = ticket.children[0].children[3].innerHTML.toLowerCase();
              break;
          }
        }

        let input_value = input.value.toLowerCase();
        let price = parseFloat(ticket.children[0].children[4].innerHTML.substring(1));
        if(ticket_html.match(input_value)){
          if(max && min && min < max){
            if(price <= max && price >= min){
              ticket.hidden = false;
            } else {
              ticket.hidden = true;
            }
          } else {
            ticket.hidden = true;
          }
        } else {
          ticket.hidden = true;
        }
      });
    });
  </script>
</div>

<%- include ('../partials/footer') %>   