<div class="card-deck">
    <% object.forEach(event => { %>
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Event Title: <%= event.title %></h5>
              <h5 class="cart-title">Price: $<%= event.price %></h5>
              <h5 class="cart-title">Location: <%= event.location %></h5>
              <h5 class="cart-title">Date: <%= event.date %></h5>
              <a href="<%= event.url %>" class="btn btn-primary"><button>Book</button></a>
              <% if (!logged_in) {%>
                <a href="<%= event.url %>" class="btn btn-primary"><button disabled>Add to List</button></a>
              <% } else { %>
                <a href="<%= event.url %>" class="btn btn-primary"><button>Add to List</button></a>
              <% } %>  
            </div>
          </div>
    <% }); %>
  </div>